:root {
   --secondary-color: #7A100C;
   --text-color: #ffffff;
   --secondary-text-color: #ababab;
   --yellow-color: #FFEE00;
}

.container {
    padding: 0 10px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.home-title {
    color: var(--text-color);
    font-size: 18px;
}

.search-icon {
  display: none; /* Hidden on desktop */
}


/* carousel section*/
.carousel-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.carousel-e-container {
    position: relative;
    width: 50%;
}

.carousel-floating-c-text-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%; 
    bottom: 10%;
    transform: translateX(-50%); /* Fine-tune centering */
    gap: 0;
}

.carousel-floating-c-text-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30%; 
    bottom: 10%;
    gap: 0;
}

.carousel-e-text-title, .carousel-e-text {
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
}

.carousel-e-text-title {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
}

.carousel-e-text {
    color: var(--text-color);
    font-size: 16px;
}

.next {
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 30px;
    right: 25px;
}

.container-s {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
}

.clip1,
.clip2 {
  height: 100%;
  overflow: hidden;
}

.clip1 {
    width: 70%;
    border-radius: 10px 0 0 10px;
    background-color: #1e1e1e;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    z-index: 1;
}

.clip2 {
  width: 30%;
  border-radius: 0 10px 10px 0;
  background-color: #1e1e1e;
  clip-path: polygon(45% 0, 100% 0, 100% 100%, 3% 100%);
  z-index: 2;
  position: absolute;
  right: 0;
  width: 50%;
}

.clip1-img,
.clip2-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/* popular videos section*/
.popular-title {
    margin-bottom: 10px;
    color: var(--text-color);
}

.popular-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
}

.popular-e-item {
    width: 23%;
    color: var(--text-color);
}

.popular-e-item div {
    height: 150px;
    min-height: 140px;
    overflow: hidden;
    border-radius: 10px;
}

.popular-img {
    width: 100%;
}

.popular-e-item-t-text {
    font-size: 14px;
    margin-top: 0;
    font-weight: 600;
    color: var(--text-color) !important;
}

.popular-e-item p {
    color: var(--secondary-text-color);
    font-size: 12px;
}

/* live section*/
.live-title {
    font-size: 18px;
    color: var(--text-color);
}

.live-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.live-e-item {
    width: 50%;
    position: relative;
}

.live-e-item--small {
    width: 40% !important;
}

.live-image {
    width: 100%;
}

.live-e-status {
    background-color: var(--secondary-color);
    border-radius: 5px;
    position: absolute;
    left:0;
    padding: 0 15px;
}

.live-e-status p {
    color: var(--text-color);
}

.live-e-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 8px;
    position: absolute;
    left: 50%; 
    bottom: 0;
    transform: translateX(-50%); /* Fine-tune centering */
    padding: 12px 20px;
    white-space: nowrap;  /* Prevents text wrapping */
    display: inline-flex; /* Ensures inline behavior */
    align-items: center;  /* Vertically centers text */
    border: none;
    font-weight: 600;
}

.live-e-button--small {
    bottom: 0 !important;
    padding: 10px 20px;
}


/* MEDIA QUERY */
@media (max-width: 768px) {
    .header-container {
      position: relative;
      display: flex;
      align-items: center;
      height: 50px; /* or your desired height */
      padding: 20px;
      margin-bottom: 10px;
    }

    .home-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .search-icon {
      margin-left: auto; /* push to the right */
      display: block; /* Show icons */
      width: 22px;
    }
}


