:root {
  --yellow-color: #FFEE00;
  --gray: #ababab;
  --primary-text-color: #ffffff;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  color: white;
  background-color: #0a0a0a;
  position: fixed;
  bottom: 0;
  left: 50%; /* Center the navbar */
  transform: translateX(-50%); /* Center the navbar */
  width: 100%; /* This makes it full width - change this */
  max-width: 500px; /* Add this to limit maximum width */
  justify-content: space-around;
  padding: 4px 0px 20px 0px;
  border-top: 2px solid #1e1e1e;
  z-index: 45;
  align-items: center;
}

.home-title {
  color: var(--text-color);
  font-size: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.nav-links {
  display: flex;;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;
  font-size: 10px;
}

.nav-links a {
  color: var(--gray);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mobile-icon {
    display: block; /* Show icons */
    width: 16px;
}

.icon-profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.icon-profile div {
  width: 45px;
  height: 45px; /* make height equal to width */
  overflow: hidden;
  border-radius: 100%; /* perfect circle */
  border: 2px solid var(--gray)
}

.profile-img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.active-dot {
  position: absolute;
  bottom: 6px;
  right: 13px;
  width: 12px;
  height: 12px;
  background-color: var(--gray); /* green dot */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-dot img {
  width: 8px;
}


.active-profile {
  border: 2px solid var(--yellow-color) !important;
}

.active-dot-green {
  background-color: var(--yellow-color);
}

.active {
  color: var(--primary-text-color) !important;
}

/* MEDIA QUERY */
.icon-container {
  display: flex;
  flex-direction: column;
  padding: 5px 20px
}