:root {
  --yellow-color: #FFEE00;
  --gray: #ababab;
  --primary-text-color: #ffffff;
}

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  color: white;
  background-color: #0a0a0a;
}

.home-title {
  color: var(--text-color);
  font-size: 18px;
}

.search-icon {
  display: none; /* Hidden on desktop */
}


/* Desktop Navigation (Default) */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  padding: 0 10px;
}


.nav-links a {
  color: var(--gray);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mobile-icon {
  display: none; /* Hidden on desktop */
}

.icon-profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.icon-profile div {
  width: 45px;
  height: 45px; /* make height equal to width */
  overflow: hidden;
  border-radius: 100%; /* perfect circle */
  border: 2px solid var(--gray)
}

.profile-img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.active-dot {
  position: absolute;
  bottom: 6px;
  right: 13px;
  width: 12px;
  height: 12px;
  background-color: var(--gray); /* green dot */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-dot img {
  width: 8px;
}


.active-profile {
  border: 2px solid var(--yellow-color) !important;
}

.active-dot-green {
  background-color: var(--yellow-color);
}

.active {
  color: var(--primary-text-color) !important;
}

/* Mobile Navigation (Under 768px) */
@media (max-width: 768px) {
  /* MEDIA QUERY */
  .header-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px; /* or your desired height */
    padding: 20px;
    margin-bottom: 10px;
  }

  .home-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar {
    position: fixed;
    bottom: 0;
    top: auto; /* Override sticky positioning */
    width: 100%;
    justify-content: space-around;
    padding: 4px 0px 10px 0px;
    border-top: 2px solid #1e1e1e;
  }

  .nav-logo {
    display: none; /* Hide logo on mobile */
  }

  .nav-links {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-end;
    font-size: 10px;
  }

    .search-icon {
      margin-left: auto; /* push to the right */
      display: block; /* Show icons */
      width: 22px;
    }

  .mobile-icon {
    display: block; /* Show icons */
    width: 16px;
  }
  .icon-container {
    display: flex;
    flex-direction: column;
    padding: 5px 20px
  }
}