/* style.css */
@import url('./navigation.css');

/* Poppins Regular (400) */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Poppins SemiBold (600) */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Poppins Bold (700) */
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  touch-action: pan-x pan-y;
}

   * {
      /* Disable double-tap zoom on specific elements */
      touch-action: manipulation;
  }

body {
  background-color: #0a0a0a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  height: 100svh;
}