:root {
  --text-color: #ffffff;
}

.container {
    padding: 0 10px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    color: var(--text-color);
}


.section-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.section-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.section-header {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 600;
}


.right-arrow {
    width: 18px;
}

.video-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.video-item {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video-item p {
    font-weight: 600;
}

.thumbnail-frame {
    height: 130px;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail-img {
    width: 100%;
    object-fit: cover;
}